<!-- <div class="debate-skills">
  <button *ngFor="let skill of skills" (click)="selectSkill(skill)">
    {{ skill.name }}
  </button>

  <div *ngIf="selectedSkill" class="skill-details">
    <h2>{{ selectedSkill.name }}</h2>
    <ul>
      <li *ngFor="let link of selectedSkill.links">
        <label>
          <input type="checkbox" (change)="increaseProgress()" /> {{ link }}
        </label>
      </li>
    </ul>
  </div>
</div> -->
<div class="tree">
  <button *ngFor="let skill of skills" (click)="selectSkill(skill)">
    {{ skill.name }}
  </button>

  <div *ngIf="selectedSkill" class="skill-details">
    <h2>{{ selectedSkill.name }}</h2>
    <div>
      Progress:
      {{
        selectedSkill.progress ? selectedSkill.progress.toFixed(2) + "%" : "0%"
      }}
    </div>
    <progress max="100" [value]="selectedSkill.progress"></progress>
    <ul>
      <li *ngFor="let link of selectedSkill.links; let i = index">
        <label>
          <input
            type="checkbox"
            [(ngModel)]="link.checked"
            (change)="increaseProgress()"
          />
          {{ link.name }}
        </label>
      </li>
    </ul>
  </div>
</div>
